<div class="comment-box">
  <h4 class="comment-author">Comment by <%= comment.author_name %></h4>
  <p class="comment-body"><%= comment.body %></p>
  <p class="comment-created-at">Commented on: <%= comment.created_at.to_date %></p>
</div>
