<div class="index content">
  <h1>Rails ArtiHub</h1>
  <ul class="articles-list">
    <% @articles.each do |article| %>
      <li class= 'article-box' >
        <div class="article-card">
          <% if article.image.exists? %>
            <%= image_tag article.image.url(:medium), class: 'article-pic' %>
          <% else %>
            <img src="http://qc.chem.nagoya-u.ac.jp/wordpress/wp-content/themes/theron-lite/images/blank_img.png" class="empty-pic">
          <% end %>
          <%= link_to article.title, article_path(article)%>
        </div>
      </li>
    <% end %>
  </ul>
</div>
</div>
