/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-size: 15px;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

body {
    background: url('background.png');
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input {
    border: inherit;
    box-shadow: 1px 1px 1px #AEABAB;
    background: inherit;
    font-family: inherit;
}


nav {
    background: rgba(174, 171, 171, 0.6);
    box-shadow: 3px 3px 3px #AEABAB;
    width: 100vw;
    height: 2.8em;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

nav .current-user {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

nav ul {
    margin-left: -30px;
}

nav .nav-li {
    padding: 10px;
    padding-top: 15px;
    display: inline-flex;
    margin-left: -10px;
    margin-top: -15px;
}

nav .nav-li:hover {
    background: rgba(174, 171, 171, 1);
}

#container {
    margin-top: 15vh;
}

.articles-list {
    box-shadow: 1px 1px 1px #AEABAB;
    border-radius: 5px;
    background: rgba(174, 171, 171, 0.2);
    width: 75vw;
    padding: 1.6em;
    margin-left: 10vw;
    font-size: 15px;
}

.article-box {
    background: rgba(174, 171, 171, 0.3);
    box-shadow: 1px 1px 1px #AEABAB;
    width: 100%;
    height: 15vh;
}

.article-card {
    display: grid;
    grid-template-rows: 50px 50px;
    height: 100%;
}

.article-pic {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 75px;
    margin-top: 25px;
}

.empty-pic {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 75px;
    margin-top: 25px;
}

.article-box a {
    padding: 50px;
}

.article-box a:hover {
    background: rgba(174, 171, 171, 1);
}

.tags-list {
    box-shadow: 1px 1px 1px #AEABAB;
    border-radius: 5px;
    background: rgba(174, 171, 171, 0.2);
    width: 75vw;
    padding: 1.6em;
    margin-left: 10vw;
    font-size: 15px;
}

.action-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.action_button {
    position: relative;
    top: 15px;
    box-shadow: 1px 1px 1px #AEABAB;
    border-radius: 5px;
    background: rgba(174, 171, 171, 0.2);
    padding: 1em;

}

.action_button:hover {
    box-shadow: 5px 5px 5px #AEABAB;
}

.submit-new input {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    position: relative;
    top: 15px;
    border: none;
    box-shadow: 1px 1px 1px #AEABAB;
    border-radius: 5px;
    background: rgba(174, 171, 171, 0.2);
    padding: 1em;
}

.submit-new input:hover {
    font-size: 16px;
    box-shadow: 1px 2px 1px #AEABAB;
}

.add-comment-box {
    margin-top: 100px;
}

.comments-section {
    margin-top: 10em;
}

.comment-box {
    background: rgba(174, 171, 171, 0.2);
    box-shadow: 1px 2px 1px #AEABAB;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0.8em;
}

.attachment img {
    width: 100px;
}

.logged-in-as {
    position: relative;
    top: 30vh;
    margin-top: 25px;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    position: relative;
}