/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-size: 15px;
}

h1 {
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

body {
    background: url('background.png');
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input {
    border: inherit;
    box-shadow: 2px 2px 2px #AEABAB;
    background: inherit;
    font-family: inherit;
}


nav {
    background: rgba(174, 171, 171, 0.6);
    box-shadow: 3px 3px 3px #AEABAB;
    width: 100vw;
    height: 2.8em;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

nav .current-user {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

nav ul {
    margin-left: -30px;
}

nav .nav-li {
    padding: 10px;
    padding-top: 15px;
    display: inline-flex;
    margin-left: -10px;
    margin-top: -15px;
}

nav .nav-li:hover {
    background: rgba(174, 171, 171, 1);
}

.flash {
    position: absolute;
    top: 0;
    left: 43%;
}

#container {
    margin-top: 15vh;
    padding-bottom: 5vh;
}

.articles-list {
    box-shadow: 1px 1px 1px #AEABAB;
    border-radius: 5px;
    background: rgba(174, 171, 171, 0.2);
    width: 65vw;
    padding: 1.6em;
    margin-left: 14.5vw;
    font-size: 15px;
}

.article-box {
    background: rgba(174, 171, 171, 0.3);
    box-shadow: 1px 1px 1px #AEABAB;
    width: 100%;
    height: 15vh;
}

.article-card {
    display: grid;
    grid-template-rows: 50px 50px;
    height: 100%;
}

.article-pic {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 75px;
    margin-top: 25px;
}

.empty-pic {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 75px;
    margin-top: 25px;
}

.article-box a {
    padding: 50px;
}

.article-box a:hover {
    background: rgba(174, 171, 171, 1);
}

.login-box {
    width: 40vw;
    margin-top: 15vh;
    margin-left: 25.5vw;
    background: rgba(174, 171, 171, 0.2);
    box-shadow: 2px 2px 2px #AEABAB;
    padding: 1.8em;
    text-align: center;
    font-size: 25px;
}

.article-content {
    background: rgba(174, 171, 171, 0.3);
    width: 65vw;
    margin-left: 16vw;
}

.article-content h1 {
    background: rgba(174, 171, 171, 0.6);
    margin-top: -1px;
}

.article-body {
    display: inline-block;
    position: relative;
}

.action {
    margin-top: 30px;
}

.login-box input {
    height: 25px;
}

.login-box h1 {
    margin-top: -15px;
}

.email-field {
    padding-bottom: 15px;
}

.password-field {
    margin-right: 27px;
}

.login_button {
    background: rgba(174, 171, 171, 0.2);
    width: 80px;
    height: 60px;
    margin-top: 15px;
    padding: 5px;
}

.login_button:hover {
    cursor: pointer;
    background: rgba(174, 171, 171, 0.8);
}

.sign_button {
    background: rgba(174, 171, 171, 0.2);
    box-shadow: 2px 2px 2px #AEABAB;
    width: 80px;
    height: 50px;
    margin-top: 15px;
    padding: 8px;
}

.sign_button:hover {
    background: rgba(174, 171, 171, 0.8);
}

.s-email-field {
    margin-left: 26px;
}

.s-c-password-field {
    margin-right: 73px;
}

.signin_button {
    margin-top: 30px;
    height: 30px;
    padding: 5px 15px;
    background: rgba(174, 171, 171, 0.3);
}

.signin_button:hover {
    cursor: pointer;
    background: rgba(174, 171, 171, 0.8);
}


.tags-list {
    box-shadow: 1px 1px 1px #AEABAB;
    border-radius: 5px;
    background: rgba(174, 171, 171, 0.2);
    width: 65vw;
    padding: 1.6em;
    margin-left: 14.5vw;
    font-size: 15px;
}

.tags {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.tags-str {
    position: absolute;

}

.tags .login_button {
    background: none;
    margin-top: -5px;
}

.tags .login_button:hover {
    background: rgba(174, 171, 171, 0.6);
}

.action-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.action_button {
    position: absolute;
    top: 75vh;
    right: 48vw;
    box-shadow: 2px 2px 2px #AEABAB;
    background: rgba(174, 171, 171, 0.2);
    padding: 1em;

}

.action_button:hover {
    background: rgba(174, 171, 171, 0.8);
}

.submit-new input {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    position: relative;
    top: 15px;
    border: none;
    box-shadow: 1px 1px 1px #AEABAB;
    border-radius: 5px;
    background: rgba(174, 171, 171, 0.2);
    padding: 1em;
}

.submit-new input:hover {
    font-size: 16px;
    box-shadow: 1px 2px 1px #AEABAB;
}

.comment-form {
    background: rgba(174, 171, 171, 0.3);
    padding: 1.2em;
    width: 63vw;
    margin-left: 15vw;
}

.comment-form input {
    height: 30px;
    box-shadow: none;
    background: #fff;
}

.comment-form .input-field {
    width: 60%;
    height: 70px;
    border: none;
}

.add-comment-box {
    margin-top: 100px;
}

.comments-section {
    margin-top: 10em;
}

.comment-box {
    background: rgba(174, 171, 171, 0.2);
    margin-top: 20px;
    padding: 0.8em;
}

.alt_button {
    box-shadow: none;
    background: rgba(174, 171, 171, 0.2);
    height: 27px;
}

.alt_button:hover {
    cursor: pointer;
    background: rgba(174, 171, 171, 0.8);
}

.form input {
    height: 30px;
    box-shadow: none;
    background: #fff;
}

.form .input-field {
    width: 80%;
    height: 200px;
    border: none;
}

.add-tag input {
    width: 50%;
}

.add-attachment {
    padding-bottom: 1em;
}

.add-attachment input {
    height: 23px;
}

.attachment img {
    width: 100px;
}

.logged-in-as {
    position: relative;
    top: 30vh;
    margin-top: 25px;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    position: relative;
    bottom: 0;
}